<div class="container">

<h1>Reading List</h1>

<ol class="breadcrumb">
  <li class="active">
    Books
  </li>
</ol>

<div class='row'>
    <div class='col-sm-12'>
      <p>
        <form>
          <legend>Search</legend>
          <div class='col-xs-4'>
            <input type='text' class='form-control' value='<%= params[:keyword] %>' name='keyword' placeholder='Keyword' >
          </div>
        </form>
      </p>
      <p class='pull-right'>
        <a href='#' id='show-form' class='btn btn-primary'>New Book Form</a>
      </p>
    </div>
  </div>

<hr>


  <tbody>
    <% @books.each do |book| %>
      <tr class='<%= "finished" if book.finished? %>'>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.description %></td>
        <td><%= book.amazon_id %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
